[submodule "res/plugins/spoke"]
	path = res/plugins/spoke
	url = https://gitlab2.informatik.uni-wuerzburg.de/via-vr/spoke.git
[submodule "res/plugins/viavr-reticulum"]
	path = res/plugins/viavr-reticulum
	url = https://gitlab2.informatik.uni-wuerzburg.de/via-vr/reticulum.git
[submodule "res/plugins/viavr-nearspark"]
	path = res/plugins/viavr-nearspark
	url = https://gitlab2.informatik.uni-wuerzburg.de/via-vr/nearspark.git
