# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build/
/dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
res/dependenciesScripts/Unity/unity2021.exe
res/dependenciesScripts/Unity/unity2021Andriod.exe
res/dependenciesScripts/Node/node-v22.11.0-x64.msi
res/dependenciesScripts/VSC/vs_community.exe

