<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
	  only uncomment the following diagnostics block for profiling/debugging purposes
		Release builds should not try to create those logs, that will fail becuase of 
		missing rights to write to %ProgramFiles%".
		This is gracefully ignored, but will cost performance
	-->
	<!--
	<system.diagnostics>
		<trace autoflush="true"></trace>
		<switches>
			<? Off, Critical, Error, Warning, Information, Verbose or All ?>
			<add name="WPFAll" value="Verbose" />
			<add name="WPFWarning" value="Warning" />
		</switches>

		<sharedListeners>
			<add name="WpfLog"
				type="System.Diagnostics.TextWriterTraceListener"
				initializeData="articy_wpf.log" />
		</sharedListeners>

		<sources>
			<source name="System.Windows.Media.Animation" switchName="WPFWarning" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.Data" switchName="WPFWarning" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.DependencyProperty" switchName="WPFAll" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.Documents" switchName="WPFWarning" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.Freezable" switchName="WPFAll" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.Interop.HwndHost" switchName="WPFAll" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.Markup" switchName="WPFAll" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.NameScope" switchName="WPFWarning" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.ResourceDictionary" switchName="WPFAll" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.RoutedEvent" switchName="WPFWarning" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
			<source name="System.Windows.Shell" switchName="WPFAll" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="WpfLog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	-->

	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>

</configuration>